@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
.navbar {
    background-color: #bbc4ce;
    /* สีพื้นหลังของ navbar */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-nav {
    display: flex;
    align-items: center;
    /* จัดแนวให้กลางในแนวตั้ง */
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    /* ช่องว่างระหว่างกลุ่ม */
    width: 100%;
    /* ให้เต็มพื้นที่ */
}


/* ใช้ mx-auto เพื่อจัดให้ items อยู่กลาง */

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


/* ปรับให้ nav-link ดูเหมาะสม */

.nav-link {
    color: #000;
    /* สีของลิงก์ */
    text-decoration: none;
    /* ไม่ให้มีเส้นใต้ */
}


/* ปรับให้ลิงก์ไม่ขยับเมื่อเลื่อนเมาส์ */

.nav-link:hover {
    text-decoration: underline;
    /* เส้นใต้เมื่อเลื่อนเมาส์ */
}


/* Responsive adjustments */

@media (max-width: 991.98px) {
    .navbar-nav {
        justify-content: flex-start;
    }
}

 :root {
    --text-01: #45413E;
    --light-01: #F9F9F9;
    --light-02: #FFFFFF;
    --brand-01: #DB7F67;
    --brand-02: #F4CFC6;
    --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
    --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    --hover-timing: all 0.2s ease;
    --nav-card-size: 240px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: var(--hover-timing);
    background: var(--light-01);
    width: 100vw;
    overflow-x: hidden;
}

header {
    /*    width: 100%;*/
    height: auto;
    position: sticky;
    top: 0;
    /*    border: 1px solid red;*/
    z-index: 100;
}

.banner {
    background: var(--brand-01);
    color: var(--light-01);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CSS */

.button-16 {
    background-color: #eb4f4f;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #ffffff;
}

.button-16:focus {
    border-color: #ffffff;
    outline: none;
}

.button-17 {
    background-color: #f7ab49;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-17:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #ffffff;
}

.button-17:focus {
    border-color: #ffffff;
    outline: none;
}

.button-18 {
    background-color: #addb63;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-18:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #ffffff;
}

.button-18:focus {
    border-color: #ffffff;
    outline: none;
}


/* =============================== Fonts ====================================*/


/* @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@import url(http://weloveiconfonts.com/api/?family=entypo); */


/* Setting up entypo*/

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}


/* =============================== Beginning ================================*/

* {
    box-sizing: border-box;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Columns ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Widgets grid ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.shop,
.profile {
    border-radius: 6px;
    position: relative;
    box-shadow: 0 0 20px -7px #000;
}


/* Column left */

.login {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}

.shop {
    width: 100%;
    height: 200px;
    background: #f6f6f6;
    margin-top: 30px;
}


/* Column right */

.profile {
    width: 100%;
    height: 370px;
    background: #f6f6f6;
    margin-top: 30px;
}


/* 
=================================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Widgets content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
=================================================================================
*/


/* --------- Login ------------*/

.login header {
    width: 100%;
    height: 35px;
    background: #A7CC6E;
    border-radius: 6px 6px 0 0;
}

.login header h1 {
    margin: 0;
    text-align: center;
    color: #f6f6f6;
    font: 600 1.8rem/35px 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.login input {
    width: 90%;
    height: 45px;
    border-radius: 4px;
    margin: 15px auto 0;
    display: block;
    font: 400 1.5rem 'Source Sans Pro', sans-serif;
}

.login input[type="email"] {
    border: 1px solid #ddd;
    padding-left: 50px;
}

.login span.entypo-user:before {
    _content: "";
    width: 40px;
    height: 43px;
    background: #efefef;
    display: block;
    position: absolute;
    top: 51px;
    left: calc( 5% + 1px);
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ddd;
    font-size: 2rem;
    line-height: 45px;
    text-align: center;
    color: #b9b7b0;
}

.login input[type="text"] {
    border: 1px solid #ddd;
    padding-left: 50px;
}

.login span.entypo-user:before {
    _content: "";
    width: 40px;
    height: 43px;
    background: #efefef;
    display: block;
    position: absolute;
    top: 51px;
    left: calc( 5% + 1px);
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ddd;
    font-size: 2rem;
    line-height: 45px;
    text-align: center;
    color: #b9b7b0;
}

.login input[type="password"] {
    border: 1px solid #ddd;
    padding-left: 50px;
}

.login span.entypo-lock:before {
    _content: "";
    width: 40px;
    height: 43px;
    background: #efefef;
    display: block;
    position: absolute;
    top: 111px;
    left: calc( 5% + 1px);
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ddd;
    font-size: 2rem;
    line-height: 45px;
    text-align: center;
    color: #b9b7b0;
}

.login textarea {
    width: 90%;
    height: 90px;
    border-radius: 4px;
    margin: 15px auto 0;
    display: block;
    font: 400 1.5rem 'Source Sans Pro', sans-serif;
}

.login textarea[type="text"] {
    border: 1px solid #ddd;
    padding-left: 50px;
    padding-top: 20px;
}

.login span.entypo-user:before {
    _content: "";
    width: 40px;
    height: 43px;
    background: #efefef;
    display: block;
    position: absolute;
    top: 51px;
    left: calc( 5% + 1px);
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ddd;
    font-size: 2rem;
    line-height: 45px;
    text-align: center;
    color: #b9b7b0;
}


/* Input pseudos */

.login input[type="email"]:focus,
.login input[type="password"]:focus,
.login input[type="text"]:focus,
.login textarea[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 3px 0px #bada55;
}

.login section {
    height: 80px;
    width: 100%;
    background: #efefef;
    border-radius: 0 0 6px 6px;
    margin-top: 15px;
    padding: 10px 5% 0 5%;
}

.login section button {
    height: 55px;
    width: 100%;
    margin: 0 auto;
    background: #ea7272;
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid #e24848;
    color: #f6f6f6;
    font: 600 1.7rem 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    text-indent: 10px;
    cursor: pointer;
}

.login section button.entypo-right-dir:before {
    position: relative;
    background: #e24848;
    padding: 4px 9px;
    border-radius: 50%;
    font-size: 2rem;
    color: #f6f6f6;
    text-indent: 2px;
    left: -10px;
    top: 2px;
}


/* Button  pseudos*/

.login section button:hover {
    background: #ef7572;
}

.login section button:active {
    border-bottom: 2px solid #e24848;
}


/*-----------Shop--------------*/

.shop header {
    width: 100%;
    height: 35px;
    background: #A7CC6E;
    border-radius: 6px 6px 0 0;
    padding-left: 20px;
}

.shop header h1 {
    margin: 0;
    color: #f6f6f6;
    font: 600 1.8rem/35px 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.shop section.item,
.shop section.item2 {
    width: 100%;
    height: 120px;
    padding: 15px;
    position: absolute;
}

.shop section img {
    width: 25%;
    max-height: 100px;
    vertical-align: middle;
    border-radius: 4px;
    float: left;
    margin-right: 15px;
}

.shop section.item p,
.shop section.item2 p {
    font: 400 1.4rem/1.5em 'Source Sans Pro', sans-serif;
    margin-top: 0;
    color: #999;
}

.shop section.menu {
    _background: #efefef;
    /* I like the bg but its not in the original image*/
    width: 100%;
    height: 45px;
    border-radius: 0 0 6px 6px;
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
}

.shop section.menu .entypo-left-dir,
.shop section.menu .entypo-right-dir {
    height: 100%;
    width: 10%;
    background: #8E826D;
    border: none;
    border-bottom: 3px solid #7F735C;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 2rem;
    color: #f6f6f6;
    float: right;
    cursor: pointer;
}

.shop section.menu .order {
    height: 100%;
    width: 30%;
    background: #ea7272;
    border: none;
    border-bottom: 3px solid #e24848;
    color: #f6f6f6;
    border-radius: 3px;
    font: 600 1.3rem 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}


/* Menu Pseudos*/

.shop section.menu .entypo-left-dir:active,
.shop section.menu .entypo-right-dir:active {
    border-bottom: 1px solid #7F735C;
}

.shop section.menu .order:active {
    border-bottom: 1px solid #e24848;
}


/*---------------- Profile ---------------*/

.profile header {
    height: 120px;
    width: 100%;
    border-radius: 6px 6px 0 0;
    background: #A7CC6E;
    padding: 15px;
}

.profile header .border {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #f6f6f6;
    padding: 7px;
    box-sizing: content-box;
    float: left;
    margin-right: 10px;
}

.profile header .dude {
    width: 100%;
    height: 100%;
    background: url(http://lorempixel.com/100/100/cats);
    border-radius: 50%;
}

.profile header h2.name {
    margin: 0;
    margin-top: 10px;
    font: 600 1.8rem 'Source Sans Pro', sans-serif;
    color: #f6f6f6;
    text-transform: uppercase;
}

.profile header span {
    font: 400 1.5rem 'Source Sans Pro', sans-serif;
    color: #f6f6f6;
}

.profile ul {
    list-style: none;
    padding-left: 0;
}

.profile ul li {
    width: 100%;
    height: 50px;
    background: transparent;
    padding-left: 15px;
    font: 400 1.8rem/50px 'Source Sans Pro', sans-serif;
    color: #9A8F7D;
}

.profile ul li:before {
    _content: "";
    position: absolute;
    font-size: 2.5rem;
    display: block;
    width: 20px;
    right: 20px;
    text-align: center;
}

.profile ul li:hover {
    background: #efefef;
}

.profile ul li.active {
    border-left: 3px solid #ea7272;
    padding-left: 12px;
    background: #efefef;
}

.profile ul li.active:before {
    color: #ea7272;
}

.profile input[type="button"] {
    width: 40%;
    height: 30px;
    background: #ea7272;
    border: none;
    border-bottom: 3px solid #e24848;
    color: #f6f6f6;
    border-radius: 3px;
    font: 600 1.3rem 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    opacity: 0.7;
    transition: opacity 0.4s;
}


/* Profile Button Pseudos */

.profile input[type="button"]:hover {
    opacity: 1;
}

.profile input[type="button"]:active {
    border-bottom: 1px solid #e24848;
}


/*
===============================================================
============= Responsive Grid =================================
===============================================================
*/

@media screen and (max-width: 985px)and (min-width: 560px) {
    .wrapper {
        width: 60%;
    }
    .column-left,
    .column-right,
    .column-middle {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
}

@media screen and (max-width: 560px) {
    .wrapper {
        width: 95%;
    }
    .column-left,
    .column-right,
    .column-middle {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
}

.cart-button-style {
    border-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px;
}

.cart-button-style-two {
    border-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: white;
    color: #7762ff;
    transition: background .5s;
    border-radius: 4px;
}

.cart-button-style:hover,
#checkout:hover,
#apply-promo:hover,
.keep-shopping:hover {
    background: #62ff8e;
    color: white;
}

.cart-button-style:active,
#checkout:active,
#apply-promo:active,
.keep-shopping:active {
    background: #ff6884;
    color: white;
}

.products {
    float: left;
    width: 23%;
    margin: 3% 1%;
    text-align: center;
    padding: 0 0 1% 0;
}

.products img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 980px) {
    .products {
        width: 30%;
        text-align: center;
        margin: 1.66%;
    }
}

@media screen and (max-width: 790px) {
    .products {
        width: 47%;
        margin: 1% 1%;
    }
    #shop {
        margin: 5% 1%;
    }
}

@media screen and (max-width: 600px) {
    .products {
        width: 100%;
    }
    #shop {
        margin: 2% 0;
    }
}

#shop::after {
    content: '';
    display: block;
    clear: both;
}

.add-to-cart {
    display: block;
    margin: 1% auto;
    border-style: none;
    width: 10em;
    height: 3em;
    background: #62ff8e;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.add-to-cart:hover {
    background: #7762ff;
}

.add-to-cart:active {
    background: #62ff8e;
}

.slider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    background: white;
    transition: all 1s;
}

.slider.close {
    top: 100vh;
    height: 0;
}

#amount-controls {
    background: white;
    top: 90;
    right: 0;
}

#cart-amount-wrapper {
    background: white;
    padding: 1.5% 0 .5% 35%;
    border-radius: 10px;
}

#cart {
    text-align: left;
    margin: 3.5em 0.5em;
    padding: 0.5% 1.5%;
    overflow-y: scroll;
}

#total::before,
#subtotal::before,
.product-price::before,
.cart-product-price::before,
.cart-updated-product-price::before,
#discountAmt::before {
    content: '$';
}

#cart #quantity-value {
    width: 45%;
}

.name-col {
    width: 40%;
}

.quantity-col {
    width: 5%;
}

.price-col {
    width: 15%;
}

.updated-price-col {
    width: 25%;
}

.update-col {
    width: 10%
}

.remove-col {
    width: 5%;
}

#update {
    border-style: none;
    text-transform: uppercase;
    padding: 2% 12px;
    width: 100%;
    height: 30px;
    background: #56ff6a;
    color: white;
    border-radius: 10px;
}

#update:hover {
    background: #f0ffe6;
    color: #56ff6a;
}

#update:active {
    background: #56f46a;
    color: white;
}

.remove {
    border-style: none;
    font-weight: bolder;
    padding: 2% 2.5%;
    width: 100%;
    height: 30px;
    background: #ff7b67;
    color: #fff1e7;
    border-radius: 10px;
}

.remove:hover {
    background: #fff1e7;
    color: #ff7b67;
}

.remove:active {
    background: #ff7b67;
    color: #f5f1e7;
}

#cart-products-wrapper {
    overflow-y: auto;
}

#cart-amount-wrapper {
    overflow-x: auto;
}

#promo {
    width: 10em;
    padding: 1em 1em;
    transition: background .5s;
    border-radius: 4px;
}

#apply-promo,
#checkout,
.keep-shopping {
    border-style: none;
    width: 10em;
    padding: 1em 1em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px;
}